<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>DaneeCloud</title>
</head>
<body>
    <style>
        body {
    background-color: #d2d3db;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


label[for="file"] {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
}

label[for="file"]:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
}

.upload {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.upload:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

h1 {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 45%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}

.subtitle {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 40%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}
.download {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
.download:hover {
color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: black;
            color: white;
            font-family: "Montserrat", sans-serif;
            text-align: center;
        }

input[type="text"] {
    color: black;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.logout {
    color: white;
    height: 60px;
    width: 125px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 1%;
    right: 1%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.logout:hover {
    color: #5D3FD3;
    height: 60px;
    width: 125px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 1%;
    right: 1%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {  
    text-align: center; 
 }

 @media only screen and (max-width: 768px) {
    h1 {
        bottom: 55%;
    }
    .subtitle {
        bottom: 45%;
    }
    label { 
        bottom: 33%;
    }
    label:hover {
        bottom: 33%;
    }
    .upload {
        bottom: 15%;
    }
    .upload:hover {
        bottom: 15%;
    }
    input[type="text"] {
        bottom: -3%;
    }
    .download {
        bottom: -21%;
    }
    .download:hover {
        bottom: -21%;
    }
  }
    </style>
    <div class="phone">
    <h1>DaneeCloud</h1>
    <h2 class="subtitle">Upload & Download your files!</h2>
    <form action="/upload/" method="post", enctype="multipart/form-data">
        <label for="file"><span class="material-icons">upload_file</span>&nbsp;Choose file to upload</label>
        <input type="file" name="file" id="file" required hidden></input>
        <button type="submit" class="upload" id="submit"><span class="material-icons">cloud_upload</span>&nbsp;Upload</button>
    </form>
    <form action="/dwnl" enctype="multipart/form-data">
        <input type="text", id="downloadfile", name="downloadfile" placeholder="Your file name" required></input>
        <button type="submit" class="download"><span class="material-icons">cloud_download</span>&nbsp;Download</button>
    </form>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="logout">Log Out</button>
    </form>
    <footer>
        <div class="footer">DaneeSkripter © 2022 - All rights reserved</div>
    
    </footer>
</div>
</body>
</html>