<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>DaneeCloud | Log In</title>
</head>
<body>
    <style>
        body {
    background-color: #d2d3db;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 45%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}

.subtitle {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 40%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

label[for="name"] {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
input[id="name"] {
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 25%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
label[for="password"] {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
input[id="password"] {
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

button[id="login"] {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

button[id="login"]:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {  
    text-align: center; 
 }

 @media only screen and (max-width: 768px) {
    h1 {
        bottom: 55%;
    }
    .subtitle {
        bottom: 45%;
    }
    label[for="name"] { 
        bottom: 30%;
    }
    input[id="name"] {
        bottom: 20%;
    }
    label[for="password"] { 
        bottom: 3%;
    }
    input[id="password"] { 
        bottom: -5%;
    }
    button[id="login"] { 
        bottom: -25%;
    }
    button[id="login"]:hover { 
        bottom: -25%;
    }
 }
    </style>
    <h1>DaneeCloud</h1>
    <% if (messages.error) {%>
    <%= messages.error %>
    <% } %>  
    <h2 class="subtitle">Log In</h2>
    <form action="/login" method="post">
        <label for="name"><span class="material-icons">account_circle</span>&nbsp;Username</label>
        <input type="text", id="name", name="name" required></input>
        <label for="password"><span class="material-icons">lock</span>&nbsp;Password</label>
        <input type="password", id="password", name="password" required></input>
        <button type="submit" id="login"><span class="material-icons">login</span>&nbsp;Log In</button>
    </form>
    <footer>
        <div class="footer">DaneeSkripter © 2022 - All rights reserved</div>
    
    </footer>
</body>
</html>