<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>DaneeCloud | Log In</title>
</head>
<body>
    <h1>DaneeCloud</h1>
    <h2 class="subtitle">Log In</h2>
    <form action="/login" method="post">
        <label for="name"><span class="material-icons">account_circle</span>&nbsp;Username</label>
        <input type="text", id="name", name="name" required></input>
        <label for="password"><span class="material-icons">lock</span>&nbsp;Password</label>
        <input type="password", id="password", name="password" required></input>
        <button type="submit" id="login"><span class="material-icons">login</span>&nbsp;Log In</button>
    </form>
    <footer>
        <div class="footer">DaneeSkripter © 2022 - All rights reserved</div>
    
    </footer>
</body>
</html>