<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= cloudname %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    p {
      font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #1f74cc;
            line-height: 40%;
    }
  </style>
  <p><%- message %></p>
</body>
</html>