body {
    background-color: #d2d3db;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


label {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
}

label:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
}

.upload {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.upload:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

h1 {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 45%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}

.subtitle {
    color: #5D3FD3;
    position: absolute;
    margin: auto;
    display: flex;
    left: 0;
    right: 0;
    bottom: 40%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}
.download {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
.download:hover {
color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: black;
            color: white;
            font-family: "Montserrat", sans-serif;
            text-align: center;
        }

input[type="text"] {
    color: black;
    height: 60px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {  
    text-align: center; 
 }

 @media only screen and (max-width: 768px) {
    h1 {
        bottom: 55%;
    }
    .subtitle {
        bottom: 45%;
    }
    label { 
        bottom: 35%;
    }
    label:hover {
        bottom: 35%;
    }
    .upload {
        bottom: 20%;
    }
    .upload:hover {
        bottom: 20%;
    }
    input[type="text"] {
        bottom: 5%;
    }
    .download {
        bottom: -10%;
    }
    .download:hover {
        bottom: -10%;
    }
  }